


/*/////////////////////////////////////////////////////////////////////////////////////*/
/* TITULO PRINCIPAL */
.title {
    text-align: center;
  }
.desc {
  text-align: right;
}
.data{
  text-align: center;
}
/* NOME DO AUTOR */
.author {
    text-align: center;
}
/* PARAGRAFOS */
p {
  text-align: justify;
}
  /*///////////////////////////////////////////////////////////////////////////////////*/